body {
	margin: 0;
	padding: 0;
	background: black;
}

#screen { /*Simulating small screen and will be removed*/
	position: relative;
	width: 640px;
	height: 480px;
	overflow: auto;
	border: 1px dashed #333;
}

#pageWrapper {
	position: relative;
	width: 640px;
	height: 100%;
	border-collapse: collapse;
}

#topBar {
	background: silver;
	vertical-align: top;
}

.topBarSection {
	width: 33%;
}

#topBarCenter {
	text-align: center;
}

#topBarRight {
	text-align: right;
}

#contentArea {
	background: gray;
	height: 100%;
	vertical-align: top;
	width: 100%;
}

#contentWrapper {
	width: 100%;
	overflow: hidden;
}
