body {
	margin: 0;
	padding: 0;
	background: black;
}

#screen { /*Simulating small screen and will be removed*/
	position: relative;
	width: 640px;
	height: 480px;
	border: 1px dashed #333;
}

#pageWrapper {
	position: relative;
	background: white;
	width: 100%;
	height: 100%;
	border-collapse: collapse;
	overflow: hidden;
	font-family:"Droid Sans", "Calibri";
}

#topBar {
	position: absolute;
	background: #00aeef;
	vertical-align: top;
	width: 100%;
	height: 20px;
	
}

.topBarSection {
	width: 33%;
}

#topBarCenter {
	text-align: center;
}

#topBarRight {
	text-align: right;
}

#contentArea {
	position: relative;
	margin-top: 30px;
	padding: 10px 20px;
}

#mainContent {
	width: 100%;
}
