/* Text */
p.name{
	width:100%;
	margin: 0;
	font-size:1em;
}

p.note{
	width:725px;
	color:gray;
	margin:0;
	font-size:0.75em;
}

li{
	margin:5px 0 0 -38px;
	list-style:none;
}

fieldset{
	margin: 0 10px 0 10px;
}

.linkspan{
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	
	z-index:1;
}

/* Color */
.maincolor{
	background: #00AEEF;
}

.red{
	background: #FF0000;
}

.grey{
	background: #DCDCDC;
}

/* Menu */

.menubar{
	width:100%;
	height:40px;
	border-radius:15px;
	-webkit-border-radius:15px;
	-moz-border-radius:15px;
	-o-border-radius:15px;
	position:absolute;
	top:0;
	left:0;
}

.menuitem{
	width:150px;
	height:25px;
	border-radius:10px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	-o-border-radius:10px;
	position:relative;
	float:right;
	margin:5px 0 0 20px;
	padding:5px 0 0 0;
	color:white;
	text-align:center;
	font-family:"Calibri", Calibri, sans-serif;
	font-weight:bold;
	font-size:1.5em;
}

/* Main */

html{
	min-height:100%;
}

body{
	min-height:100%;
	background: black;
	background: linear-gradient(top, #000000 0%,#45484d 100%);
	background: -webkit-linear-gradient(top, #000000 0%,#45484d 100%);
	background: -moz-linear-gradient(top, #000000 0%,#45484d 100%);
	background: -o-linear-gradient(top, #000000 0%,#45484d 100%);
}

#background{
	width:1000px;
	position:relative;
	margin-left:auto;
	margin-right:auto;
}

.content{
	background:white;
	width:100%;
	min-height:700px;
	border-top-left-radius:25px;
	border-top-right-radius:25px;
	-webkit-border-top-left-radius:25px;
	-webkit-border-top-right-radius:25px;
	-moz-border-top-left-radius:25px;
	-moz-border-top-right-radius:25px;
	-o-border-top-left-radius:25px;
	-o-border-top-right-radius:25px;
	padding:10px 0 0 0;
	margin: 50px 0 0 0;
	overflow-y:auto;
}

/* List stuff */
.listHeader{
	height:30px;
	position:relative;
	padding: 5px 0 5px 10px;
	margin: 0;
	color:black;
	font-family:"Calibri", Calibri, sans-serif;
	font-weight:bold;
	font-size:1.5em;
}

#listContent{
	width:100%;
	margin: 10px 0 0 0;
	border-collapse:collapse;
	border-spacing:0;
}

.itemName{
	padding: 0 20px 0 10px;
}

.itemType{
	padding: 0 20px 0 0;
}

.itemDescription{
	padding: 0 20px 0 0;
	max-width:500px;
	color: #767676;
}

.listItem{
	width:100%;
	font-family:"Calibri", Calibri, sans-serif;
	font-size:20px;
}

.itemButton{
	width:80px;
	height:30px;
	border-radius:10px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	position:relative;
	float:right;
	top:0;
	text-align:center;
	border: 0;
	padding: 0;
	margin: 5px 10px 5px 0;
	color:white;
	font-family:"Calibri", Calibri, sans-serif;
	font-weight:bold;
	font-size:15px;
}

.itemButton:hover{
	background: rgba(155,155,155,0.5);
	border:1px solid #000;
}

.screenChannelSelect{
	width:200px;
	height:30px;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border:0;
	font-family:"Calibri", Calibri, sans-serif;
}

/* Channel stuff */

.formTXB{
	width:160px;
	height:20px;
	border:1px solid #00AEEF;
	font-family:"Calibri", Calibri, sans-serif;
}

.lformTXB{
	width:550px;
	height:20px;
	border:1px solid #00AEEF;
	font-family:"Calibri", Calibri, sans-serif;
}

.formNB{
	width:50px;
	height:20px;
	border:1px solid #00AEEF;
	font-family:"Calibri", Calibri, sans-serif;
	text-align:right;
}

.noteTXB{
	width:550px;
	height:60px;
	resize:none;
	border:1px solid #00AEEF;
	font-family:"Calibri", Calibri, sans-serif;
}

.formTypeSelect{
	width:160px;
	height:20px;
	border:1px solid #00AEEF;
	font-family:"Calibri", Calibri, sans-serif;
}

.saveButton{
	width:120px;
	height:40px;
	border-radius:10px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border:1px solid #00AEEF;
	margin:30px 0 0 5px;
	font-family:"Calibri", Calibri, sans-serif;
	font-size:17px;
}

.saveButton:hover{
	background: rgba(0,174,239,0.5);
}

#namebox{
	width:739px;
	height:245px;
	position:relative;
	/*float:left;*/
	border-top:2px solid #00AEEF;
	padding: 5px 0 0 5px;
	margin: 20px 0 0 0;
	font-family:"Calibri", Calibri, sans-serif;
}

#maincontent{
	width:744px;
	height:70%;
	border-top:2px solid #00AEEF;
	position:relative;
	/*float:left;*/
	overflow-y:auto;
	font-family:"Calibri", Calibri, sans-serif;
	font-weight:bold;
}

#subcontent{
	width:744px;
	height:192px;
	border-top:2px solid #00AEEF;
	position:relative;
	/*float:left;*/
	overflow-y:auto;
	font-family:"Calibri", Calibri, sans-serif;
	font-weight:bold;
}

#contentlist{
	width:254px;
	min-height:91%;
	border-left:2px solid #00AEEF;
	border-top:2px solid #00AEEF;
	position:relative;
	/*float:right;*/
	padding:0 0 10px 0;
	overflow-y:auto;
	overflow-x:hidden;
}

.contentitem{
	float:left;
	width:206px;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	-o-border-radius:10px;
	border:2px solid #00AEEF;
	position:relative;
	margin:10px 0 0 10px;
	padding:10px 10px;
	font-family:"Calibri", Calibri, sans-serif;
	z-index:100;
}

.removebutton{
	width:20px;
	height:20px;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-0-border-radius:5px;
	position:absolute;
	margin:0;
	left:198px;
	border:0px;
}

#leftColumn{
	float:left;
	width:744px;
}

#rightColumn{
	float:left;
	width:200px;
	margin:20px 0 0 0;
}
