/* Text */
p{
	margin:0 0 0 10px;
}

.linkspan{
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	
	z-index:1;
}

/* Menu */

.menubar{
	background:black;
	width:100%;
	height:40px;
	border-radius:10px;
	position:absolute;
	top:0;
	left:0;
}

.menuitem{
	background:white;
	width:150px;
	height:25px;
	position:relative;
	float:left;
	margin:5px 0 0 20px;
	padding:5px 0 0 0;
	text-align:center;
}

/* Main */

.background{
	width:1000px;
	height:700px;
	position:relative;
	top:2px;
	margin-left:auto;
	margin-right:auto;
}

.content{
	background:green;
	width:1000px;
	height:650px;
	position:absolute;
	top:50px
}

/* Template list */
.templateheader{
	background:black;
	color:white;
	width:100% - 10px;
	height:30px;
	position:relative;
	top:-20px;
	left:0;
	padding:10px 0 0 10px;
}

.templatelist{
	width:100%;
	height:650px;
	position:relative;
	padding:0;
	overflow-y:auto;
}

.templateitem{
	background:teal;
	width:100% - 10px;
	height:30px;
	position:relative;
	padding:10px 0 0 10px;
	margin:5px 0 0 0;
	top:-20px;
}

.TInew{
	background:green;
	width:100px;
	height:30px;
	position:absolute;
	top:0;
	left:880px;
	text-align:center;
	border:0;
	padding:0;
	margin: 5px 0 0 0;
}

.TIedit{
	background:white;
	width:100px;
	height:30px;
	position:absolute;
	top:0;
	left:770px;
	text-align:center;
	border:0;
	padding:0;
	margin: 5px 0 0 0;
}

.TIdelete{
	background:red;
	width:100px;
	height:30px;
	position:absolute;
	top:0;
	left:880px;
	text-align:center;
	border:0px;
	padding:0;
	margin: 5px 0 0 0;
}

.bottombar{
	background:red;
	width:100%;
	height:40px;
	position:relative;
}

/* Template stuff */

.namebox{
	width:160px;
	height:20px;
	position:relative;
	float:left;
	margin:10px 0 0 10px;
}

.nameTXB{
	width:160px;
	height:20px;
}

.noteTXB{
	width:250px;
	height:100px;
	resize:none;
}

.notebox{
	width:250px;
	height:100px;
	resize:none;
	position:relative;
	float:left;
	margin:10px 0 0 10px;
}

.savetemplatebutton{
	background:teal;
	width:160px;
	height:50px;
	border:1px solid #000000;
	margin:30px 0 0 0;
}

.maindrop{
	background:red;
	width:740px;
	height:310px;
	position:absolute;
	top:140px;
	left:0;
	overflow-y:auto;
}

.subdrop{
	background:blue;
	width:740px;
	height:200px;
	position:absolute;
	top:450px;
	left:0;
	overflow-y:auto;
}

.contentlist{
	background:orange;
	width:260px;
	height:650px;
	position:absolute;
	top:0;
	left:740px;
	overflow-y:auto;
}

.contentspawner{
	background:purple;
	width:210px;
	position:relative;
	margin:10px 0 0 10px;
	padding:15px 10px;
}

.contentTXB{
	width:160px;
	height:20px;
	position:absolute;
}

.savebutton{
	background:green;
	width:40px;
	height:20px;
	position:absolute;
	left:180px;
	border:0px;
}

.contentitem{
	float:left;
	background:purple;
	width:210px;
	position:relative;
	margin:10px 0 0 10px;
	padding:15px 10px;
}

.removebutton{
	background:red;
	width:40px;
	height:20px;
	position:absolute;
	margin:0;
	left:180px;
	border:0px;
}

.spawnbutton{
	background:black;
	width:10px;
	height:10px;
	position:absolute;
	top:0;
	left:0;
}

